@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
html, body {
  /* fix */
    max-width: 100%;
}
html, body {
    overflow: overlay;
    overflow-x: hidden;
}
body {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #263238;
    color: #ffffff;
}
body *::selection {
    background: #009688;
    color: #ffffff;
}
main {
    line-height: 1.5;
}
pre, code {
    font-family: "Roboto Mono", monospace;
}
.dark {
    background-color: #263238;
    color: #ffffff;
}
pre, blockquote {
    background: #37474f;
    border-left: 4px solid #546e7a;
    padding: 16px 0 0 16px;
    margin: 16px 16px 0 0;
    width: 100%;
    box-sizing: border-box;
}
img {
    width: 100%;
}
.card-full {
    box-shadow: 0 4px 8px #000000;
    padding: 16px;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
header h1 {
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    margin-left: 20px;
}
h1 {
    font-weight: 900;
    font-size: 48px;
}
main {
    animation-name: content;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}
.content {
    max-width: 576px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
}
header {
    color: #ffffff;
    background: #37474f;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    margin-top: 48px;
}
.badges {
    margin-top: 20px;
    font-family: "Roboto", sans-serif !important;
}
.badges img {
    width: auto;
}
.button {
    background-color: #009688;
    color: #ffffff;
    padding: 8px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px #000000;
    border-radius: 2px;
    margin: 8px;
    position: relative;
    overflow: hidden;
}
.button:hover {
    box-shadow: 0 4px 8px #000000;
    color: #ffffff;
}
.button .ripple-pad {
    background: #ffffff99;
    position: absolute;
    opacity: 1;
    transform: scale(0);
    animation: RippleEffect 500ms cubic-bezier(0.2, 0, 0, 0.5) forwards;
}
@keyframes RippleEffect {
    to {
        transform: scale(1);
        opacity: 0;
    }
}
.buttons {
    display: flex;
    flex-wrap: wrap;
}
.button .material-icons {
    position: relative;
    top: 4px;
    font-size: 20px;
}
nav ul {
    list-style-type: none;
    display: inline;
    background: #546e7a;
    width: 100vw;
    height: 48px;
    padding: auto;
    position: fixed;
    top: 0;
    margin: 0;
    box-shadow: 0 4px 8px #000000;
    z-index: 1000;
    padding-left: 40px;
}
nav ul li {
    padding: 16px;
    position: relative;
    top: 12px;
    display: inline;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav ul li:hover, nav ul li a:hover {
    background: #009688;
    color: #ffffff !important;
}
a {
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #00695c;
    transition: cubic-bezier(1, 0, 0, 1) 0.4s;
} 
@keyframes content {
    from {
        opacity: 0;
        top: 128px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #00000000;
}
::-webkit-scrollbar-thumb {
    background: #00000033;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #00000066;
}
.material-icons {
    font-family: "Material Icons";
    text-transform: lowercase;
}
@media screen and (max-width: 584px) {
    header h1 {
        font-size: 48px;
    }
}
@media screen and (max-width: 584px) {
    .card-full, blockquote, pre {
        width: calc(100% - 16px);
        margin: 0;
    }
    main {
        padding: 8px;
    }
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
